@charset "utf-8";

/* リセットcss */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, code, em, img, q, strong, dl, dt, dd, ol, ul, li, form, label, fieldset, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    outline: 0;
    border: none;
    background: none;
  }

/* 全体css */
body{
  font-family: "小塚ゴシック Pr6N";
  
}

a{
  text-decoration: none;
}

img{
  width: 100%;
}

li{
  list-style-type: none;
}



/*.clearfix::after{
  content: "";
  display: block;
  clear: both;
}*/



.choco-mocha{
  background: url("https://github.com/noruneko4487/coffeeshop/blob/main/img/bg_sp.png?raw=true") no-repeat;
  background-size: cover;
}

.pc-image{
  display: none;
}
  
  
@media screen and (min-width: 768px) {
  .sp-image{
    display: none;
  }
  
  .pc-image{
    display: inline;
    
  }
  
  .choco-mocha{
  background: none;
}
  
  .new-line{
    display: block;
    font-weight: 500;
    
  }
  
  .pc-newline{
    display: none;
  }
}



/* トップコンテンツ */



.catch-copy{
  width: 92%;
  margin: 0 auto;
}

.catchcopy-container img{
  width: 91%;
  margin: 3%;
}



.catch-copy h1{
  font-size: 19px;
  font-weight: bold;
  color: #aa9ac3;
}

.catch-copy p{
  font-size: 10.7px;
  color: #201236;
  line-height: 17px;
}

/* トップコンテンツ PC版 */

@media screen and (min-width: 768px) {

	.bg-sec1{
    background: url("https://github.com/noruneko4487/coffeeshop/blob/main/img/bg_sec1.png?raw=true") no-repeat;
    background-size: cover;
    height: 64vw;
  
}
  
  
  
  .catchcopy-container{
    position: relative;
    width: 50vw;
    top: 2vw;
    left: 27vw;
    
  }
  
  .catchcopy-container img{
    width: 40vw;
    margin: 0;
  }
  
  .catch-copy{
    width: 23vw;
    text-align: right;
    margin: 0;
    position: absolute;
    left: 17vw;
    z-index: 2;
    min-width: 344px;
  }
  
  .catch-copy h1{
    font-size: 1.3vw;
  }
  
  .catch-copy p{
    font-size: 0.6vw;
    line-height: 27px;
    
  }
  
  
}

/* トップコンテンツメニュー部分 */

.menu-container{
  position: relative;
}

.menu-contents{
  text-align: right;
  width: 90%;
  margin-left: 5%;
}

.bc-deco{
  font-size: 10px;
  line-height: 21px;
}

.bottom-adjustment{
  padding-bottom: 2px;
}

.cocoa-frappuccino{
  position: absolute;
  top: 18.5%;
}


.crumble-cocoa{
  position: absolute;
  top: 37%;
  
}


.chocolatey-crumble{
  position: absolute;
  top: 60%;
  
}


.chocolatey-frappuccino{
  position: absolute;
  top: 91%;
  
}

.menu-contents h2{
  font-size: 12px;
  line-height: 16px;
}



.menu-contents p{
  font-size: 10px;
  line-height: 18px;
}






/* トップコンテンツメニュー部分 PC版 */

@media screen and (min-width: 768px) {
  .menu-container{
    height: 700px;
  }
  
  .choco-drink{
    position: absolute;
    top: -1vw;
  }
  
  .menu-contents{
    text-align: left;
    width: 20%;
    margin-left: 0;
  }
  
  
  
  .cocoa-frappuccino{
    position: absolute;
    top: 26vw;
    left: 3vw;
  }
  
  .crumble-cocoa{
    position: absolute;
    top: 32vw;
    left: 26vw;
  }
  
  .chocolatey-crumble{
    position: absolute;
    top: 33vw;
    right: 25vw;
  }
  
  .chocolatey-frappuccino{
    position: absolute;
    top: 30vw;
    right: 1vw;
    text-align: right;
  }
  
  /* フォント調整 */
  
  
  
  .bottom-adjustment{
    margin-bottom: 1vw;
  }
  
  .menu-contents h2{
    font-size: 1.3vw;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1vw;
  }
  
  .menu-contents p{
    font-size: 1vw;
    line-height: 1.6;
  }
  
  
  
  
}

/* モカココアコンテンツ　 */

@media screen and (min-width: 768px) {
  
  
  .grid-mocha{
    display: grid;
    grid-template-rows: 19vw auto;
    grid-template-columns: 40vw auto;
    grid-template-areas: 
      "catchimage drinkimage"
      "mochacontent drinkimage";
    
  }
  
  .mocha-catchcopy{
    grid-area: catchimage;
  }
  
  .mocha-menu{
    grid-area: drinkimage;
  }
  
  .mocha-contents{
    grid-area: mochacontent;
  }
  

  
  
  .bg-sec2{
    background: url("https://github.com/noruneko4487/coffeeshop/blob/main/img/bg_sec2.png?raw=true") no-repeat;
    background-size: cover;
  }

}

/* キャッチコピー部分 */

.mocha-catchcopy img{
  width: 90vw;
  margin: 3vw;
}

@media screen and (min-width: 768px) {
  
  
  .mocha-catchcopy img{
  width: 35vw;
  margin: 0;
  padding-left: 2vw;
}
  
  
  
}


/* メニュー部分 */
.mocha-menu{
  position: relative;
  text-align: center;
}

.cocoa{
  position: absolute;
  top: 23vw;
  right: 15vw;
}
.c-mocha{
  position: absolute;
  top: 85vw;
  left: 10vw;
}
.w-mocha{
  position: absolute;
  bottom: 30vw;
  right: 7vw;
}

@media screen and (min-width: 768px) {
  
  
  .mocha-menu{
  position: relative;
  text-align: center;
  }

.cocoa{
  position: absolute;
  top: 36vw;
  left: -11vw;
}
.c-mocha{
  position: absolute;
  top: 31.2vw;
  left: 27vw;
}
.w-mocha{
  position: absolute;
  bottom: 3vw;
  right: 6vw;
}
}


/* メニュー部分　フォント関連 */

.drink-contents{
  color: #4e4537;
}

.drink-contents h3{
  font-size: 7vw;
  line-height: 1.2;
}

.drink-contents p{
  font-size: 4.5vw;
}

@media screen and (min-width: 768px) {
  

.drink-contents h3{
  font-size: 2vw;
  line-height: 1.2;
}

.drink-contents p{
  font-size: 1vw;
}


}


/* コンテンツ部分　フォント関連 */
.mocha-catchcopy h1{
  color: #aa9ac3;
  font-size: 4.3vw;
  font-weight: bold;
  line-height: 1.6;
  box-sizing: border-box;
  margin-bottom: 2vw;
}

.mocha-catchcopy p{
  color: #6c6877;
  font-size: 2vw;
  line-height: 1.5;
}

.newchocosauce p{
  font-size: 4.5vw;
  color: #b0a1c7;
  line-height: 1.7;
  box-sizing: border-box;
}

.discover-fav h3{
  font-size: 2vw;
  line-height: 1.3;
}

.discover-fav span{
  font-size: 4.8vw;
}

.discover-fav p{
  font-size: 1vw;
  line-height: 1.7;
  padding-left: 2vw;
  
}

@media screen and (min-width: 768px) {
  
  
  .mocha-catchcopy h1{
  color: #aa9ac3;
  font-size: 1.4vw;
  font-weight: bold;
  line-height: 1.6;
  box-sizing: border-box;
  margin-bottom: 1vw;
}

.mocha-catchcopy p{
  color: #6c6877;
  font-size: 0.7vw;
  line-height: 1.5;
}

.newchocosauce p{
  font-size: 1.3vw;
  color: #b0a1c7;
  line-height: 1.7;
}

.discover-fav h3{
  font-size: 0.7vw;
  line-height: 1.3;
}

.discover-fav span{
  font-size: 1.3vw;
}

.discover-fav p{
  font-size: 0.8vw;
  line-height: 1.7;
  padding-left: 2vw;
  
}
  
  
  
}

/* コンテンツ部分 */



.mocha-catchcopy{
  margin: 5vw 2vw;
}

.newchocosauce{
  display: flex;
  margin: 0 0 5vw 2vw;
  align-items: center;
  justify-content: space-around;
}

.newchocosauce img{
  width: 20vw;
}

.discover-fav{
  width: 85vw;
  display: flex;
  border: 2px #9d9d9e solid;
  margin: 5vw auto;
  padding: 4vw 2vw;
  position: relative;
}


.discover-fav img{
  width: 16vw;
  position: absolute;
  bottom: 0vw;
  right: 1vw;
}

@media screen and (min-width: 768px) {
  .mocha-contents{
    width: 40vw;
    margin-left: 2vw;
  }
  
  .mocha-catchcopy{
  margin-bottom: 2vw;
}
  
  .choco-para{
    width: 35vw;
  }
  
  .newchocosauce{
  display: flex;
  margin-bottom: 2vw;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
}

.newchocosauce img{
  width: 5vw;
}
  
  .discover-fav{
  width: 27vw;
  display: flex;
  align-items: center;
  border: 2px #9d9d9e solid;
  margin: 0 0 0 7vw;
  padding: 0.5vw 1vw;
  position: relative;
}


.discover-fav img{
  width: 4vw;
  position: absolute;
  bottom: 0vw;
  right: 0.5vw;
}
  
  
  
}



/* ギフトコンテンツ */

.gift-inner{
  position: relative;
  height: 235vw;
}

@media screen and (min-width: 768px) {
  .gift-inner{
  position: static;
  height: 42vw;
  display: flex;
}
  
  .bg-sec3{
    background: url("https://github.com/noruneko4487/coffeeshop/blob/main/img/bg_sec3.png?raw=true") no-repeat;
    background-size: cover;
  }
}

/* 他のメニュー部分 フォント関連 */

.coffee-image a{
  font-size: 28px;
  color: #43f5fc;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .coffee-image a{
  font-size: 2vw;
  color: #43f5fc;
  font-weight: 500;
}
}


/* 他のメニュー部分 */
.coffee-image{
  position: relative;
  height: 50vw;
  
}

.coffee-image img{
  position: static;
}

.see-menu{
  position: absolute;
  top: 90vw;
  right: 1vw;
}

@media screen and (min-width: 768px) {
  .coffee-image{
  height: 0;
  top: 10vw;
  left: 5vw;
}

.coffee-image img{
  position: static;
  width: 40vw;
}

.see-menu{
  position: absolute;
  top: 29vw;
  right: 5vw;
}
}

/* コンテンツ部分 フォント関連 */
.gift-catch h2{
  font-size: 31px;
  font-weight: bold;
  color: #00b5b7;
}

.gift-catch p{
  font-size: 18px;
  line-height: 42px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #00b5b7;
}

.gift-catch a{
  font-size: 18px;
  font-weight: bold;
  color: #00b5b7;
}

@media screen and (min-width: 768px) {
  .gift-catch h2{
  color: #85838f;
}

.gift-catch p{
  color: #85838f;
}

.gift-catch a{
  color: #85838f;
}
}

/* コンテンツ部分 */

.gift-contents{
  position: absolute;
  top: 87vw;
}

.gift-catch{
  position: absolute;
  top: 60vw;
  margin-left: 2vw;
}

@media screen and (min-width: 768px) {
  .gift-contents{
  position: static;
  padding: 15vw 0 0 10vw;
  display: flex;
  align-items: flex-start;
}
  
  .gift-contents img{
  width: 20vw;
  order: 2;
}

.gift-catch{
  position: static;
  margin-left: 0;
  margin-right: 3vw;
  order: 1;
}
}

/* フッター */

.foot-navi{
  background-color: #f3f1ef;
  padding: 7%;
}

@media screen and (min-width: 768px) {
  .foot-navi{
  padding: 0;
  position: relative;
  z-index: 2;
  height: 7vw;
}
}

/* フッター フォント関連 */
.navi{
  font-size: 16px;
  line-height: 25px;
  color: #958677;
}

.trademark{
  color: #958677;
}

/* フッター 配置関連 */
.nav-posi{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2vw;
}

@media screen and (min-width: 768px) {
  .nav-posi{
  display: block;
}
  
  .sns-navi, .info-navi{
    display: flex;
    justify-content: space-around;
    width: 35vw;
    
  }
}

































